before_install:
  - gem update bundler
  - bundle --version
  - gem update --system
  - gem --version
rvm:
  - 2.4.0
  - 2.3.1
  - 2.2.6
  - 2.1
  - 2.0
  - 1.9.3
  - jruby-19mode
  - rbx-2

matrix:
  allow_failures:
    - rvm: rbx-2
